@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    border: none;
  }

  html, body {
    background: linear-gradient(135deg, #007BFF 0%, #005A9C 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #333;
    height: 100%;
  }



  header nav ul {
    background: linear-gradient(135deg, #007BFF 0%, #005A9C 100%);
    border-bottom: none;
    box-sizing: border-box;
    list-style: none;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
    color: white;
  }


  header nav ul li {
    display: inline-block;
    margin: 0 1em;
    padding: 1em 0 1em 0;
    color: #005a9c;
  }


  header nav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: gold;
  }
  header nav ul li a:hover {
    background-color: gold;
    color: #007BFF;
  }

  input, select, select[multiple], textarea {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5em;
  }

  table {
    width: 100%;
  }

  .helptext {
    display: block;
    font-size: 80%;
    color: #666;
  }

  .login-form, .signup-form, .task-form, .project-form {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 400px;
    padding: 2em;
    border: 1px solid #ccc;
  }

  .task-form h1, .login-form h1, .signup-form h1, .project-list h1, .project-form h1, .project-detail h1 {
    margin-top: 0;
    color: #005A9C;
  }

  .project-detail h2 {
    margin-top: 2em;
  }

  .task-form p, .login-form p, .signup-form p, .project-form p {
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 100px 1fr;
  }

  .task-form button, .my-tasks-list button, .login-form button, .signup-form button, .project-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  .my-tasks-list, .project-list, .project-detail {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 800px;
    padding: 2em;
    border: 1px solid #ccc;
  }

  .my-tasks-list th, .my-tasks-list td, .project-list th, .project-list td, .project-detail th, .project-detail td {
    padding: 0.5em;
    border-bottom: 1px solid #eee;
  }

  .my-tasks-list thead tr th, .project-list thead tr th, .project-detail thead tr th {
    border-bottom: 2px solid #005A9C;
  }

  .my-tasks-list tbody td, .project-list tbody td, .project-detail tbody td {
    text-align: center;
  }

  a {
    color: #007B
  }
