{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
<main>
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if show_my_tasks.exists %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    <tbody>
                        {% for task in show_my_tasks.all%}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"M d, Y" }}</td>
                                <td>{{ task.due_date|date:"M d, Y" }}</td>
                                <td>{{ task.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
